{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="MACode ID, https://macodeid.com/">
  <title>{% block title %}InfoVAC{% endblock %}</title>
</head>
<body>
{% block content %}
  <div class="page-hero bg-image overlay-dark" style="background-image: url('{% static 'img/bg_image_1.jpg' %}');">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sobre nós</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Sobre nós</h1>
      </div>
    </div>
  </div> 
  <div class="page-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp">
          <h1 class="text-center mb-3">Bem Vindo ao <span>Info</span>VAC!</h1> 
          <div class="text-lg">
            <p>
              O infovac foi produzido para atender um trabalho de projeto de extensão e foi tomando uma proporção maior. Ele é um projeto produzido para manter a população atualizada sobre a disponibilidade das vacinas, para que todas estejam com sua carteira de vacinação atualizada.
            </p>
            <p>
              Na barra de navegação, em Procurar Vacina e Mais Informações, você pode consultar as informações que necessita. 
            </p>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>