{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="MACode ID, https://macodeid.com/">
  <title>{% block title %}InfoVAC{% endblock %}</title>
</head>
<body>
{% block content %}
  <div class="page-hero bg-image overlay-dark" style="background-image: url('{% static 'TabelaDeVacinas/img/bg_image_1.jpg' %}');">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <span class="subhead">Vamos tornar sua vida mais feliz</span>
        <h1 class="display-4">Vida Saudável</h1>
      </div> <!--container text-center wow zoomIn-->
    </div> <!--hero-section-->
  </div> <!--page-hero bg-image overlay-dark-->
  <div class="page-section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h1>Bem Vindo ao <span>Info</span>VAC!</h1> 
          <p class="text-grey mb-4">
            Mantenha-se sempre informado sobre as vacinas na sua região, aqui você pode qui você pode verificar a disponibilidade das vacinas. Manter as vacinas em dia é essencial para a saúde individual e coletiva. As vacinas protegem contra doenças potencialmente graves, prevenindo surtos e epidemias. Além disso, contribuem para a imunidade da comunidade, protegendo os mais vulneráveis. Manter um calendário de vacinação atualizado é um ato de responsabilidade e solidariedade, garantindo um mundo mais saudável para todos.
          </p>
          <p class="text-grey mb-4">
            (Texto). para mais informações click em saiba mais. 
          </p>
          <a href="/about" class="btn btn-primary">Saiba mais</a>
        </div> <!--col-lg-6 py-3 wow fadeInUp-->
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
          <div class="img-place custom-img-1">
            <img src="{% static 'img/bg-doctor.png' %}" alt="">
          </div> <!--img-place custom-img-1-->
        </div> <!--col-lg-6 wow fadeInRight-->
      </div> <!--row align-items-center-->
    </div> <!--container-->
  </div> <!-- .bg-light -->
{% endblock %}
</body>
</html>
